[submodule "raw/front_source"]
	path = raw/front_source
	url = git@github.com:Leopohf/2026-album-track-front.git
[submodule "raw/back_source"]
	path = raw/back_source
	url = git@github.com:Leopohf/2026-album-track-back.git
[submodule "raw/album-eslint"]
	path = raw/album-eslint
	url = git@github.com:Leopohf/linting-album.git