[submodule "raw/front_source"]
	path = raw/front_source
	url = git@github.com:Leopohf/2026-album-track-front.git
[submodule "raw/back_source"]
	path = raw/back_source
	url = git@github.com:Leopohf/2026-album-track-back.git
[submodule "raw/jlhf-lint"]
	path = raw/jlhf-lint
	url = git@github.com:Leopohf/jlhf-lint.git